<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>hhsyhuuhah</string>
		<key>type</key>
		<string>text</string>
		<key>content</key>
		<string>有一个姑娘她叫小芳，长的好看又善良一双大眼睛辫子粗又长!</string>
	</dict>
	<dict>
		<key>name</key>
		<string>554466446</string>
		<key>type</key>
		<string>text</string>
		<key>content</key>
		<string>洁白的婚纱，手捧着鲜花，美丽的像童话。Oh，MyLove,咱们结婚吧，我会用一生去爱你呀有你陪伴我独闯天涯，这一生最美的梦啊 有你陪伴我会笑哈哈！</string>
	</dict>
</array>
</plist>
