<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icn</key>
		<string>http://img4.dwstatic.com/lol/1603/321981653673/1458026456497.jpg</string>
		<key>name</key>
		<string>索尔</string>
		<key>title</key>
		<string>塑星者奥瑞利昂</string>
		<key>info</key>
		<string>塑星者奥瑞利昂索尔，一个新进英雄，信息暂无！</string>
		<key>address</key>
		<string>http://v.huya.com/play/1350798.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img.dwstatic.com/lol/1602/320080222029/1456125136860.jpg</string>
		<key>name</key>
		<string>烬</string>
		<key>title</key>
		<string>戏命师</string>
		<key>info</key>
		<string>作为一名心思缜密的癫狂杀手，烬坚信谋杀是一门艺术。</string>
		<key>address</key>
		<string>http://v.huya.com/play/948898.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img4.dwstatic.com/lol/1512/314707669413/1450752569078.png</string>
		<key>name</key>
		<string>俄洛伊</string>
		<key>info</key>
		<string>俄洛伊的体格强横无比，却唯独会在她的坚定信仰面前屈身。</string>
		<key>title</key>
		<string>海兽祭司</string>
		<key>address</key>
		<string>http://v.huya.com/play/196992.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img3.dwstatic.com/lol/1512/314728724902/1450773706687.jpg</string>
		<key>name</key>
		<string>千珏</string>
		<key>info</key>
		<string>“所有东西，亲爱的恶狼。”各成一体但永不分离的千珏代表着死亡的双生本质。</string>
		<key>title</key>
		<string>永猎双子</string>
		<key>address</key>
		<string>http://v.huya.com/play/170395.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img5.dwstatic.com/lol/1512/314896182183/1450941044680.png</string>
		<key>name</key>
		<string>塔姆</string>
		<key>info</key>
		<string>塔姆丶肯奇在符文大陆的各个水道游历着，用毫无戒心者们的悲惨喂养着他那贪得无厌的食欲。</string>
		<key>title</key>
		<string>河流之王</string>
		<key>address</key>
		<string>http://v.huya.com/play/133587.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img2.dwstatic.com/lol/1512/315415050531/1451460132841.jpg</string>
		<key>name</key>
		<string>亚托克斯</string>
		<key>info</key>
		<string>亚托克斯是一位传奇战士，也是一个被称为暗裔的上古种族里仅存的五位战士之一。</string>
		<key>title</key>
		<string>暗裔剑魔</string>
		<key>address</key>
		<string>http://v.youku.com/v_show/id_XNTY5OTQyNDI4.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img2.dwstatic.com/lol/1512/315331952203/1451383101464.jpg</string>
		<key>name</key>
		<string>卢锡安</string>
		<key>title</key>
		<string>圣枪游侠</string>
		<key>info</key>
		<string>&apos;&apos;她曾是我的全部，但他们带走了她 和她一起被带走的还有我的友善与仁慈。&apos;&apos;</string>
		<key>address</key>
		<string></string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img1.dwstatic.com/lol/1512/315331952203/1451380581677.jpg</string>
		<key>name</key>
		<string>金克斯</string>
		<key>title</key>
		<string>暴走萝莉</string>
		<key>info</key>
		<string>金克丝活着就是为了不计后果的四处肆虐，在她身后留下的只有一片混乱与恐慌。</string>
		<key>address</key>
		<string>http://v.youku.com/v_show/id_XNjE5NDI4MzQw.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img2.dwstatic.com/lol/1512/315331952203/1451378842581.jpg</string>
		<key>name</key>
		<string>亚索</string>
		<key>title</key>
		<string>疾风剑豪</string>
		<key>info</key>
		<string>亚索是一个百折不屈的男人，还是一名身手敏捷的剑客，能够运用风的力量来斩杀敌人。</string>
		<key>address</key>
		<string>http://v.youku.com/v_show/id_XNjQ3MTMzODg4.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img.dwstatic.com/lol/1512/315331952203/1451377208381.jpg</string>
		<key>name</key>
		<string>维克兹</string>
		<key>title</key>
		<string>虚空之眼</string>
		<key>info</key>
		<string>我进入了突如其来的强光。闪烁。闪烁，闪烁，闪烁。我调整好眼睛，评估我前方的景观。 有东西在乱窜。</string>
		<key>address</key>
		<string>http://v.huya.com/play/30327.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img1.dwstatic.com/lol/1512/315252476056/1451297501942.jpg</string>
		<key>name</key>
		<string>布隆</string>
		<key>title</key>
		<string>弗雷尔卓德之心</string>
		<key>info</key>
		<string>“奶奶，我已经过了听故事的年龄了！” “听故事可没有年龄的限制。</string>
		<key>address</key>
		<string>http://v.huya.com/play/50761.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img.dwstatic.com/lol/1512/315158331600/1451210488533.jpg</string>
		<key>name</key>
		<string>纳尔</string>
		<key>title</key>
		<string>迷失之牙</string>
		<key>info</key>
		<string>我已经猎遍了这个丛林里的所有生物。我确信，这儿以前已经没剩下什么挑战了，但现在，这儿有了新来客。</string>
		<key>address</key>
		<string>http://v.huya.com/play/64426.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img5.dwstatic.com/lol/1512/315158331600/1451209461237.jpg</string>
		<key>name</key>
		<string>阿兹尔</string>
		<key>title</key>
		<string>沙漠皇帝</string>
		<key>info</key>
		<string>曾是一名被自大与傲慢所蒙蔽的凡人，对灼热沙漠有着无上统治权的阿兹尔以一个飞升者的身份重新归来。</string>
		<key>address</key>
		<string>http://v.huya.com/play/71683.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img5.dwstatic.com/lol/1512/315158331600/1451208438140.jpg</string>
		<key>name</key>
		<string>卡利斯塔</string>
		<key>title</key>
		<string>复仇之矛</string>
		<key>info</key>
		<string>卡莉丝塔是充满复仇怨念的幽灵，是不灭的复仇之魂，是召唤自暗影岛的噩梦，专门猎杀背信弃义之人。</string>
		<key>address</key>
		<string>http://v.huya.com/play/86255.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img5.dwstatic.com/lol/1512/315158331600/1451208438140.jpg</string>
		<key>name</key>
		<string>雷克赛</string>
		<key>title</key>
		<string>虚空遁地兽</string>
		<key>info</key>
		<string>雷克塞是她族群之中体型最大、脾气最暴的。</string>
		<key>address</key>
		<string>http://v.huya.com/play/86690.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img2.dwstatic.com/lol/1512/315158331600/1451205600132.jpg</string>
		<key>name</key>
		<string>巴德</string>
		<key>title</key>
		<string>星界游神</string>
		<key>info</key>
		<string>巴德游历于各个超乎凡间生命体想象的秘界之间。</string>
		<key>address</key>
		<string>http://v.huya.com/play/98802.html</string>
	</dict>
	<dict>
		<key>icn</key>
		<string>http://img2.dwstatic.com/lol/1512/315158331600/1451203466320.png</string>
		<key>name</key>
		<string>艾克</string>
		<key>title</key>
		<string>时间刺客</string>
		<key>info</key>
		<string>艾克是一名来自祖安不良街区的奇才。他可以操纵时间，从而让任何处境都变得对自己有利。</string>
		<key>address</key>
		<string>http://v.huya.com/play/121892.html</string>
	</dict>
</array>
</plist>
