<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>茶馆</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ukssyw.mp3</string>
		<key>singer</key>
		<string>小5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>十二月</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/udkdsp.mp3</string>
		<key>singer</key>
		<string>渔圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>间谍</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uddadc.mp3</string>
		<key>singer</key>
		<string>汪苏泷</string>
	</dict>
	<dict>
		<key>name</key>
		<string>情花</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uydskk.mp3</string>
		<key>singer</key>
		<string>本兮</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肉麻情歌</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ksdcs.mp3</string>
		<key>singer</key>
		<string>刘德华</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱琴海</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uswckk.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>心驰神往</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/mymua.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一千个分手的理由</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uyscya.mp3</string>
		<key>singer</key>
		<string>孙子涵</string>
	</dict>
	<dict>
		<key>name</key>
		<string>以父之名</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ucmcc.mp3</string>
		<key>singer</key>
		<string>周杰伦</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国我爱你</string>
		<key>singer</key>
		<string>凤凰传奇</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/cmkssc.mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>address</key>
		<string></string>
		<key>singer</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiss Good Bye</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/pcuam.mp3</string>
		<key>singer</key>
		<string>王力宏</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冒牌情人</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uckcsu.mp3</string>
		<key>singer</key>
		<string>冷漠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>春泥</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uwpkcm.mp3</string>
		<key>singer</key>
		<string>张芸京</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美丽的女人最伤人</string>
		<key>singer</key>
		<string>冷漠</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uskpaa.mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>解脱</string>
		<key>singer</key>
		<string>张惠妹</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/auaps.mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>相约北京</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/macwu.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>千百度</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uwppkw.mp3</string>
		<key>singer</key>
		<string>许嵩</string>
	</dict>
	<dict>
		<key>name</key>
		<string>星光</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ucdwyc.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>灰色头像</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/kwaayy.mp3</string>
		<key>singer</key>
		<string>许嵩</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一路向北</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ysypd.mp3</string>
		<key>singer</key>
		<string>周杰伦</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ydumd.mp3</string>
		<key>name</key>
		<string>恋爱百分百</string>
		<key>singer</key>
		<string>蔡依林</string>
	</dict>
	<dict>
		<key>name</key>
		<string>改变自己</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/mswky.mp3</string>
		<key>singer</key>
		<string>王力宏</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哭泣的情人</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ucapmw.mp3</string>
		<key>singer</key>
		<string>冷漠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>醉美天下</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/mymuk.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>晴天</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ucmcd.mp3</string>
		<key>singer</key>
		<string>周杰伦</string>
	</dict>
	<dict>
		<key>name</key>
		<string>多余的解释</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/csmaya.mp3</string>
		<key>singer</key>
		<string>许嵩</string>
	</dict>
	<dict>
		<key>name</key>
		<string>难道是我上辈子欠了你</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/kwmcss.mp3</string>
		<key>singer</key>
		<string>郑源</string>
	</dict>
	<dict>
		<key>name</key>
		<string>你是我的菜</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uwdycc.mp3</string>
		<key>singer</key>
		<string>王麟</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不分手的恋爱</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uwpksm.mp3</string>
		<key>singer</key>
		<string>汪苏泷</string>
	</dict>
	<dict>
		<key>name</key>
		<string>当我唱起这首歌</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ucwkau.mp3</string>
		<key>singer</key>
		<string>小贱</string>
	</dict>
	<dict>
		<key>name</key>
		<string>can you feel my word</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uusak.mp3</string>
		<key>singer</key>
		<string>王力宏</string>
	</dict>
	<dict>
		<key>name</key>
		<string>自由自在</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/asucyw.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我愿意</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/kkpss.mp3</string>
		<key>singer</key>
		<string>王菲</string>
	</dict>
	<dict>
		<key>name</key>
		<string>客官不可以</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uwucdu.mp3</string>
		<key>singer</key>
		<string>徐良</string>
	</dict>
	<dict>
		<key>name</key>
		<string>只对你有感觉</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/smdus.mp3</string>
		<key>singer</key>
		<string>飞轮海</string>
	</dict>
	<dict>
		<key>name</key>
		<string>臭男人</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uscmaa.mp3</string>
		<key>singer</key>
		<string>王麟</string>
	</dict>
	<dict>
		<key>name</key>
		<string>路</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uwppwp.mp3</string>
		<key>singer</key>
		<string>冷漠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>擦肩而过</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/csuaud.mp3</string>
		<key>singer</key>
		<string>郑源</string>
	</dict>
	<dict>
		<key>name</key>
		<string>打工行</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/dapuda.mp3</string>
		<key>singer</key>
		<string>郑源</string>
	</dict>
	<dict>
		<key>name</key>
		<string>你若成风</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/mspkm.mp3</string>
		<key>singer</key>
		<string>许嵩</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玫瑰花的葬礼</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/mwsad.mp3</string>
		<key>singer</key>
		<string>许嵩</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海滩</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ksdkk.mp3</string>
		<key>singer</key>
		<string>刘德华</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱情里没有谁对谁错 </string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/mmcww.mp3</string>
		<key>singer</key>
		<string>郑源</string>
	</dict>
	<dict>
		<key>name</key>
		<string>难道爱一个人有错吗</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/spcwd.mp3</string>
		<key>singer</key>
		<string>郑源</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月亮之上</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/sskuw.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两颗心四行泪</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/uckudu.mp3</string>
		<key>singer</key>
		<string>冷漠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大城小爱</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/suuwu.mp3</string>
		<key>singer</key>
		<string>王力宏</string>
	</dict>
	<dict>
		<key>name</key>
		<string>自由飞翔</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/muayy.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一万个理由</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/ymssk.mp3</string>
		<key>singer</key>
		<string>郑源</string>
	</dict>
	<dict>
		<key>name</key>
		<string>看透爱情看透你</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/cmypus.mp3</string>
		<key>singer</key>
		<string>冷漠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日不落</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/mpuys.mp3</string>
		<key>singer</key>
		<string>蔡依林</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香水有毒</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/suwmk.mp3</string>
		<key>singer</key>
		<string>胡杨林</string>
	</dict>
	<dict>
		<key>name</key>
		<string>伤不起</string>
		<key>address</key>
		<string>http://mp3hot.9ku.com/hot/2011/05-31/411603.mp3</string>
		<key>singer</key>
		<string>王麟</string>
	</dict>
	<dict>
		<key>name</key>
		<string>最炫民族风</string>
		<key>address</key>
		<string>http://music.baidutt.com/up/kwcywuca/cmdkwd.mp3</string>
		<key>singer</key>
		<string>凤凰传奇</string>
	</dict>
</array>
</plist>
