<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegisInfo</key>
	<array>
		<dict>
			<key>memberType</key>
			<string></string>
			<key>value</key>
			<string>电话号码</string>
			<key>require</key>
			<true/>
			<key>type</key>
			<string>cell_number</string>
			<key>isShow</key>
			<false/>
		</dict>
		<dict>
			<key>memberType</key>
			<string></string>
			<key>value</key>
			<string>密码</string>
			<key>require</key>
			<true/>
			<key>type</key>
			<string>cell_text</string>
			<key>isShow</key>
			<false/>
		</dict>
		<dict>
			<key>value</key>
			<string>会员类型</string>
			<key>require</key>
			<true/>
			<key>type</key>
			<string>cell_select</string>
			<key>memberType</key>
			<string>初级,中级,高级,大师,特级大师</string>
			<key>isShow</key>
			<true/>
		</dict>
		<dict>
			<key>value</key>
			<string>性别</string>
			<key>require</key>
			<true/>
			<key>memberType</key>
			<string>男,女</string>
			<key>type</key>
			<string>cell_check</string>
			<key>isShow</key>
			<true/>
		</dict>
		<dict>
			<key>value</key>
			<string>拓展属性</string>
			<key>require</key>
			<true/>
			<key>type</key>
			<string>cell_select</string>
			<key>memberType</key>
			<string>神级,骨灰级,发烧级</string>
			<key>isShow</key>
			<true/>
		</dict>
		<dict>
			<key>value</key>
			<string>爱好</string>
			<key>require</key>
			<false/>
			<key>type</key>
			<string>cell_text</string>
			<key>memberType</key>
			<string></string>
			<key>isShow</key>
			<false/>
		</dict>
		<dict>
			<key>value</key>
			<string>出生年月</string>
			<key>require</key>
			<false/>
			<key>type</key>
			<string>cell_date</string>
			<key>memberType</key>
			<string>date</string>
			<key>isShow</key>
			<true/>
		</dict>
		<dict>
			<key>value</key>
			<string>登录帐号</string>
			<key>require</key>
			<true/>
			<key>type</key>
			<string>cell_check</string>
			<key>memberType</key>
			<string>1109306950,1982428309,2057132116</string>
			<key>isShow</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
